# macOS
.DS_Store
# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## ignore
*.dSYM/
3rdparty/lua-protobuf

*.so

# 保留这两个so
!/plugins_lua/ad_packet_pb/libs/pb.so
!/learn_lua/pb52.so
